* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

header {
    font-size: 6vmin;
    color: black;
}

h1 {
    font-size: 4vmin;
    color: black;
    letter-spacing: 0.5vmin;
    margin: 4vmin;
}

h2 {
    font-size: 3.5vmin;
    margin: 5vmin;
}

h3 {
    font-size: 2.5vmin;
    word-spacing: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2vmin;
    font-weight: bold;
    margin: 0;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 8vmin);
    grid-template-rows: repeat(3, 8vmin);
    margin-top: 3vmin;
    gap: 5vmin;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

#board>div {
    height: 12vmin;
    width: 12vmin;
    border: 0.5vmin solid black;
}

button {
    margin-top: 6vmin;
    padding: 2vmin;
    font-size: 2vmin;
    font-weight: bold;
    border-radius: 4vmin;
    border: 0.2vmin solid black;
    color: black;
    background-color: lightgrey;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: coral;
}